$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
  margin: 0;
  padding: 0;
  background: #ebebeb;
}

body, button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  padding-top: 50px;
}

img {
  max-width: 100%;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}

nav li, nav ul {
  list-style: none;
  margin: 0;
  padding-left: 10px;
}

nav li, nav a {
  display: inline-block;
}

nav a {
  color: #333;
  text-decoration: none;
}

a:hover {
  background: #fff;
}

a.active {
  background: #00AC7F;
  color: #fff;
}

.wrap {
  position: relative;
  margin: 0 auto;
  padding: 50px 0px;
}

.back {
  float: none;
  min-height: 0;
  background-position: center center;
  width: 100%;
  margin: 0;
  background-size: cover;
  bottom: 0;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
}

.section1-back {
  margin-top: 61px;
  height: 680px;
  background-image: url(http://static0.fitbit.com/simple.b-cssdisabled-jpg.h98296bb4c3c1896a5e37f8a3a42b9ea2.pack?items=%2Fcontent%2Fassets%2Fhome2%2Fimages%2Fslide-04.jpg);
}

.section {
  padding: 50px 0 30px 0;
}

footer {
  text-align: center;
}

button {
  font-size: 18px;
  border: 0;
  padding: 15px 30px;
  background: #00AC7F;
  color: #fff;
  cursor: pointer;
}